body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: auto;
    background-color: gainsboro;
    font-family: Arial, sans-serif;
}

h1,p {
    text-align: center;
}

label {
    font-weight: bold;
}

p {
    margin-top: -10px;
}

input {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

button {
    display: block;
    width: 100%;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

* {
    box-sizing: border-box;
}

input,button{
    font-size: 16px;
    border-radius: 6px;
    padding: 10px;
    
}